<div class="adnd game-license">
  <p class="adnd game-license">
    This unofficial system requires materials published by TSR, specifically, Advanced Dungeons & Dragons rules and reference books.</a>.
  </p>
  <p>
    Donate to U~man 
  </p>
  <p>
    <div class="button">
      <a href="https://ko-fi.com/H2H21WMKA" target="_blank"
      ><img
        height="36"
        style="border: 0px; height: 28px;"
        src="https://cdn.ko-fi.com/cdn/kofi2.png?v=2"
        border="0"
        alt="Buy Me a Coffee at ko-fi.com"
    /></a>
    </div>
  </p>
  <p>Thank you to <a href="game-icons.net">game-icons.net</a> for the awesome icons!</p>
</div>
